version: '3'
services:

  mysql-dev:
    image: mysql:5.7
    platform: linux/amd64
    container_name: mysql-dev
    restart: always
    volumes:
      - ${PWD}/mysql-dev/root:/home/root
      - ${PWD}/mysql-dev/conf/mysql/my.cnf:/etc/my.cnf
      - ${PWD}/mysql-dev/data:/var/lib/mysql
    ports:
      - 13306:3306
    environment:
      MYSQL_DATABASE: sandbox
      MYSQL_USER: sandbox
      MYSQL_ROOT_PASSWORD: sandbox      
      MYSQL_PASSWORD: sandbox

  php-dev:
    depends_on:
      - mysql-dev
    build: ./php-dev/
    platform: linux/amd64
    container_name: php-dev
    restart: always
    volumes:
      - ${PWD}/php-dev/root/:/home/root
      - ${PWD}/php-dev/conf/apache2/:/etc/apache2/
      - ${PWD}/php-dev/conf/php/:/usr/local/etc/php/
      - ${PWD}/php-dev/apps/:/var/www/
    ports:
      - 8080:80
      - 8443:443
